body{
    margin: 0px;
    background-color: rgb(255, 80, 80);
    overflow-x: hidden;
}

@keyframes gradient {
    0% {
        background-position: 0% ,0%;
    }
    50% {
        background-position: 100%, 100%;
    }
    100% {
        background-position: 0%, 0%;
    }
}
a{
    text-decoration: none;
}
.mian6{
    font-family: Font1;
    font-size: 50px;
}
.sec1{
    margin: inherit;
    background-color: rgb(252, 255, 89);
    width: 100%;
    height: 1080px;
    background: linear-gradient(90deg, #fcff59, #ffa41c, #ff3030, #c815ff,#1c3eff, #fcff59, #ffa41c, #ff3030);
    background-size: 600% 600%;
    animation: gradient ease-in-out infinite;
    animation-duration: 30s;
}
.sec2{
    margin: inherit;
    background-color: rgb(255, 197, 89);
    width: 100%;
    height: 1280px;
}
.secret{
    width: 100%;
    height: 10px;
    background:#221f22;
}
.sec3{
    margin: inherit;
    background-color: #221f22;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr 1fr;
    justify-content: center;
    gap: 10px;
    height: 1180px;
}
.secret2{
    width: 100%;
    height: 10px;
    background: #221f22;
}
.sec4{
    margin: inherit;
    background-color: rgb(255, 85, 73);
    width: 100%;
    height: 1100px;
}
.sec5{
    margin: inherit;
    background-color: rgb(255, 80, 80);
    width: 100%;
    height: 9880px;
    margin: 0;
}
.secret3{
    width: 100%;
    height: 10px;
    background: #221f22;
}
.secret4{
    width: 100%;
    height: 10px;
    background: #221f22;
}
.main1{
    margin: inherit;
    font-family: Font1;
    font-size: 170px;
    text-align: center;
    padding-top: 250px;
}
.turn{
    margin: inherit;
    font-family: Font1;
    font-size: 170px;
    text-align: center;
    padding-top: 250px;
    position: relative;
    bottom: -2200px;
}
#main2{
    margin: inherit;
    font-family: Font2;
    text-align: center;
    padding-top: 250px;
}
.main3{
    margin: inherit;
    font-family: Font1;
    font-size: 170px;
    text-align: center;
    padding-top: 50px;
}
.main4{
    margin: inherit;
    font-family: Font1;
    font-size: 170px;
    text-align: center;
    padding-top: 50px;
}
.containing{
    position: relative;
    top: 150px;
    padding: 30px;
    width: 100%;
    background-color: #221f22;
    height: 300px;
}
.Carousel{
    animation: carousel 9s linear infinite;
    display: flex;
    flex-wrap: nowrap;
    width: calc(3 * 150px);
    text-align: center;
}
.Carousel2 .Block{
    animation: carousel 9s linear infinite;
    display: flex;
    flex-wrap: nowrap;
    width: calc(3 * 150px);
    text-align: center;
}

.Block{
    flex-shrink: 0;
    padding-right: 400px;
    width: 150px;
}
.containing img{
    height: 240px;
    width: 240px;
    box-shadow: 0px 0px 25px 2px #ffd415;
}
@keyframes carousel{
    0%   { transform: translate3d(0, 0, 0); }
    100% { transform: translate3d(-1100px, 0, 0); }
}
.Carousel p{
    font-family: Font1;
    font-size: 30px;
    margin: 0;
    width: 240px;
    color: rgb(177, 177, 177);
}

.blink{
    position: relative;
    margin: inherit;
    top: -250px;
    right: -420px;
    font-family: Font2;
    font-size: 160px;
    text-align: center;
    padding: 30px;
    animation-name: blink;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier( .42, 0, .58, 1 );
}
.hidden{
    opacity: 0;
    filter: blur(5px);
    font-size:0px ;
    transition: all 1.5s;
    transition-delay: all 1.5s;
}
.show{
    opacity: 1;
    filter: blur(0px);
    font-size: 80px;
    transition: all 1.5s;
    transition-delay: all 1.5s;
}
.sec2 li{
    text-align: center;
    font-family: Font3;
    list-style-type:disc;
}
#item-0{
    background-color:#00ccff ;
}
#item-1{
    background-color:#9000ff ;
}
#item-2{
    background-color:#00ff73 ;
}
#item-3{
    background-color:#ff2f2f ;
}
#item-4{
    background-color:#0045db ;
}
#item-5{
    background-color:#969696 ;
}
#item-6{
    background-color:#ffde20 ;
}
#item-7{
    background-color:#dd7600 ;
}
#lefunny{
    font-size: 10px;
    list-style-type: none;
}
.sec3 div{
    font-family: Font1;
    font-size: 40px;
    text-align: center;
    text-decoration: none;
}
.sec3 p{
    margin: 10px;
    font-family: Font4;
    font-size: 45px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    text-shadow: 0px 0px 10px #242424;
}
.video{
    margin: 0;
    height: 0;
}
video{
    width: 100%;

}
.main42{
    font-family:Font1 ;
    position: relative;
    text-align: center;
    bottom: -350px;
    font-size: 90px;
    background: linear-gradient(90deg, #e2e2e2, #7a7a7a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    margin: 0;
}

@keyframes blink {
    0%{opacity: 0;}
    50%{opacity: 1;}
    100%{opacity: 0;}
}
@font-face {
    font-family: Font1;
    src: url('Fonts/MADE-Soulmaze-Italic.ttf');
}
@font-face {
    font-family: Font2;
    src: url('Fonts/MADE-Soulmaze.ttf');
}
@font-face {
    font-family: Font3;
    src: url('Fonts/MADE-Soulmaze-Brush.ttf');
}
@font-face {
    font-family: Font4;
    src: url('Fonts/Myriad\ Pro\ Bold.ttf');
}
@font-face {
    font-family: Font5;
    src: url('Fonts/Myriad\ Pro.ttf');
}